
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GestureGo | Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\bootstap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap" rel="stylesheet"/>
  <link  rel="stylesheet"  href="{% static 'css/style.css' %}" />
  <link  rel="stylesheet"  href="{% static 'cssresponsive.css' %}" />

  </head>
  <body  >
      <div class="hero_area ">
        <!-- header section starts -->
        <header class="header_section">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
              <div class="navbar-brand">
                <img src="\static\images\G__3_-removebg-preview.png" alt="logo">
              </div>
              <div class="" id="">
                <div class="User_option">
                 
                </div>
    
                <div class="custom_menu-btn">
                  <button onclick="openNav()">
                    <span class="s-1">
    
                    </span>
                    <span class="s-3">
    
                    </span>
                  </button>
                </div>
                <div id="myNav" class="overlay">
                  <div class="overlay-content">
                    <a href={% url 'asl'%}>ASL Chart</a>
                    <a href={% url 'speech_to_sign'%}>Speech to Sign</a>
                    <a href={% url 'text_to_speech'%}>Text to Speech</a>
                    {% if request.session.login %}
                        <!-- Display login button and register button -->
                        <a href={% url 'logout'%}>Logout</a>
                    {% else %}
                        <!-- Display logout button -->
                        <a href={% url 'login'%}>Login</a>
                        <a href={% url 'register'%}>Register</a>
                        
                       
                    {% endif %}
                   
                 
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-5 offset-md-1">
                      <div class="detail-box">
                        <div class="number">
                          
                        </div>
                        <h1>
                          GestureGo <br>
                          <span>
                          
                          </span>
                        </h1>
                        <p>
                          Your virtual sign to speech and speech to sign translator.
                        </p>
                        <div class="btn-box">
                          <a href={% url 'login' %} class="btn-1">
                            Login
                          </a>
                          <a href={% url 'register' %} class="btn-2">
                            Register
                          </a>
                        </div>
                      </div>
                    </div>
        
                  </div>
                </div>
              </div>
     
      <script type="text/javascript" src="js/jquery.js"></script>
      <script type="text/javascript" src="js/bootstrap.js"></script>
      <script>
        function openNav() {
          document.getElementById("myNav").classList.toggle("menu_width")
          document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
        }
      </script>
    
        
  </body>
  </html>

